<div class="column gap-1">
  <!-- Add Button -->

  <button
    type="button"
    pButton
    icon="pi pi-plus"
    (click)="toggleAddPopup()"
    label="Add Product"
  ></button>
  <!-- Product Section -->
  <div class="row wrap gap-1 space-between">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (edit)="toggleEditPopup($event)"
      (delete)="toggleDeletePopup($event)"
    >
    </app-product>
  </div>

  <!-- Paginator Section -->
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    #paginator
  />
</div>

<!-- Edit Popup -->
<app-edit-popup
  [product]="selectedProduct"
  [(display)]="displayEditPopup"
  (confirm)="onConfirm($event)"
  header="Edit Popup"
>
</app-edit-popup>

<!-- Add Product -->
<app-edit-popup
  [(display)]="displayAddPopup"
  (confirm)="onConfirmAdd($event)"
  header="Add Product"
>
</app-edit-popup>
